---
import Badge from "./Badge.astro";
import Button from "../components/Button.astro";
import GitHub from "./icons/GitHub.astro";
import Link from "./icons/Link.astro";

interface Props {
  title: string;
  description: string;
  githubLink: string;
  previewLink: string;
  url: string;
  badges: string[];
}

const { title, description, previewLink, githubLink, url, badges } =
  Astro.props;
---

<article
  class="relative flex flex-col md:flex-row md:space-x-5 space-y-3 md:space-y-0 rounded-lg shadow p-3 max-w-xs md:max-w-full mx-auto bg-white border-gray-200 border dark:bg-[#171717] dark:border-[#383838]"
>
  <div class="w-full md:w-1/3 grid place-items-center">
    <img src={url} alt={title} class="rounded" width="100%" height="100%" />
  </div>
  <div class="w-full md:w-2/3 flex flex-col space-y-2 p-3">
    <h3 class="font-black text-gray-800 dark:text-white md:text-3xl text-xl">
      {title}
    </h3>
    <div class="flex flex-wrap gap-1">
      {badges.map((name) => <Badge name={name} />)}
    </div>
    <p class="text-black dark:text-white">
      {description}
    </p>
    <div class="flex items-center gap-4">
      <Button href={previewLink}>
        <Link class="size-5" />Ver
      </Button>
      <Button href={githubLink}>
        <GitHub class="size-5" />
        Código
      </Button>
    </div>
  </div>
</article>
